{% extends 'app/base.html' %}
<!-- {% load static %} -->
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="divlogin">
<div class="container ">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Customer Login</h3>
      <hr>

   
    <form action="" method="post">
          {% csrf_token %}
    <label for="username">Username</label><br><br>
    <input type="text", required, id="username" name="username"><br><br>
    <label for="password">Password</label><br><br>
    <input type="password" id="password", required name="password"><br><br>
    
        <button type="submit" class="btn btn-outline-primary my-3 mx-2" style="margin: auto;">LOGIN</button>
        <p class="my-2 mx-2">Don't have an account? <a href="{% url 'customerregistration' %}">Register</a></p>
       
    </form>



</div>
</div>
</div>
</div>
<a href="{% url 'home' %}"><button>home</button></a> 
{% endblock main-content %}