.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}


.txt-clr-white{
    color: white;
}

.form-horizontal{
    display:flex;
    width:45%;
    margin:0 auto;
    background-color: #ddddeca7;
    align-content: center;
    border-radius: 1.98%;
    box-shadow: 10px;
    border-style: groove;
}


.divlogin {
    /* position: absolute;
left: 0;
right: 0;
margin: auto; */
    /* display: flex; */
    /* width:45%; */
    /* justify-content: center; */
    background-color: #ecdddda7;
    /* align-content: center; */
    /* border-radius: 1.98%; */
    /* box-shadow: 10px; */
    /* border-style: groove; */
    /* align-items: center; */
  }
